@model ActivityManager.Models.SaActivity

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Activity</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="row gy-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <div class="col">
                    <select asp-for="CategoryId" id="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                    <button id="addCategoryBtn" type="button" class="btn btn-outline-primary mt-2" data-bs-toggle="modal" data-bs-target="#categoryModal">Add New Category</button>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Views/Categories/_CategoryModal.cshtml")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
